body * {
    font-family: Raleway;
    font-size: 1rem;
}

*::-webkit-scrollbar {
    width: .8rem;
}

*::-webkit-scrollbar-track {
    background: #e2e3e4;
}

*::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 6px;
    border: 3px solid #e2e3e4;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #4a4a4a #e2e3e4;
}

.form-control {
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    border-radius: 0;
    outline: none;
    font-weight: 500;
    width: 100%;
}

.form-control:focus {
    border-color: #6d7c61;
}


.btn {
    width: 100%;
    padding: calc(.5rem + 1px) 1rem;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: #6d7c61;
    color: white;
    font-weight: 900;
}

.btn:hover {
    cursor: pointer;
}

#product-iframe {
    width: 100%;
    min-height: 100vh;
    border: none;
    border-top: 1px solid #6d7c61;
}