<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize iframe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css">

    <link rel="stylesheet" href="assets/css/bundle.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">

    <link rel="stylesheet" href="assets/css/collapsible.css">

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.31&key=AIzaSyCe5YF8wBG_UjIJfGFvsTkMFR0bRJ1R7Zs&libraries=places&v=weekly" defer></script>
    <script src="https://cdn.rawgit.com/Viglino/Canvas-TextPath/master/ctxtextpath.js" defer></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/vuex.min.js"></script>
    <script src="assets/js/bundle.js" defer></script>
    <script src="assets/js/jquery-ui.min.js" defer></script>
    <script src="assets/js/collapsible.js" defer></script>
    <script src="assets/js/componentsystem.bundle.js"></script>
    <script src="main.js?v=35" defer></script>
</head>

<body class="scroll-hidden">
    <div id="app">
        <div class="main-content d-flex">
            <div class="canvas-wrapper">
                <canvas id="canvas"></canvas>
                <div class="page-loader" v-show="$store.getters.canvasLoader.show">
                    <div class="loader"></div>
                    <span class="message" v-for="(message, index) in $store.getters.canvasLoader.messages" :key="index">
                        {{ message }}
                    </span>
                    <button class="btn mt-3" @click="$store.commit('hideCanvasLoader')">Hide</button>
                </div>
            </div>
            <div v-if="$store.getters.debugMode" class="export-canvas-wrapper" style="display: none;">
                <canvas id="exportCanvas"></canvas>
            </div>
            <div class="editor-wrapper">
                <div class="editor-info">
                    <span class="info-title">Customize your design</span>
                    <span class="info-subtitle">Change artwork, labels and appearance</span>
                </div>
                <div class="editor">
                    <div class="group option-group" v-show="$store.getters.editorVisibility('options')">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Select an option</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                            <div class="form-item-label">Select option</div>
                            <div class="select-group"></div>
                        </div>
                    </div>
                    <div class="group gallery-group" v-show="$store.getters.editorVisibility('photos')">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Upload photos</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                            <div class="description">
                                <span><strong>PRO tip:</strong> Click on images to customize!</span>
                            </div>
                            <button class="btn btn-secondary width-100 mt-2 open-gallery-btn" style="padding:1rem;">Open gallery</button>
                        </div>
                    </div>
                    <div class="group spiral-group hidden">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Spiral text</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                            <div class="form-group mt-3">
                                <label>Text</label>
                                <textarea class="form-control" rows="1" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="group square-group hidden">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Square text</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                            <div class="form-group mt-3">
                                <label>Text</label>
                                <textarea class="form-control" rows="1" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="group spotify-group hidden">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Your song</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                            <div class="song-search d-block mb-3">
                                <input type="text" class="form-control search-input" placeholder="Search song by name" spellcheck="false">
                                <div class="search-results collapsible mt-3"></div>
                            </div>
                            <div class="form-group spotify-uri mt-3 d-none">
                                <label>Spotify URI/link</label>
                                <textarea class="form-control" rows="2" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="group text-group" v-show="$store.getters.editorVisibility('texts')">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Write your own texts</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                        </div>
                    </div>
                    <div class="group map-group" v-show="$store.getters.editorVisibility('maps')">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Customize maps</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                        </div>
                    </div>
                    <div class="group song-group hidden">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Customize song</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                            <label class="form-item-label">Lyrics</label>
                            <textarea class="form-control" rows="6"></textarea>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-secondary apply-btn">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="group background-text-group hidden">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Change background text</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                            <div class="form-group">
                                <label><span style="color: #e6a512;"> *</span></label>
                                <textarea class="form-control" rows="1" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="group background-group hidden">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Choose a background</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                            <div class="splide">
                                <div class="splide__track">
                                    <ul class="splide__list">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group theme-group" v-show="$store.getters.editorVisibility('theme')">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>Choose a filter (optional)</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;">
                            <div class="theme-options">
                                <div class="theme-option-wrapper">
                                    <div class="theme-option white"><i class="fa fa-ban"></i></div>
                                    <span>No filter</span>
                                </div>
                                <div class="theme-option-wrapper">
                                    <div class="theme-option white">A</div>
                                    <span>Black White</span>
                                </div>
                                <div class="theme-option-wrapper">
                                    <div class="theme-option dark">B</div>
                                    <span>Grayscale</span>
                                </div>
                                <div class="theme-option-wrapper">
                                    <div class="theme-option nautical">C</div>
                                    <span>Vintage</span>
                                </div>
                                <div class="theme-option-wrapper">
                                    <div class="theme-option koda">D</div>
                                    <span>Bright</span>
                                </div>
                                <!-- <div class="theme-option-wrapper">
                                    <div class="theme-option techni">E</div>
                                    <span>Technicolor</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="group dev-group hidden">
                        <div class="group-title">
                            <i class="fa fa-chevron-right"></i>
                            <span>DEV Tools</span>
                        </div>
                        <div class="group-body collapsible" data-collapsed="true" style="height: 0px;" id="dev-tools-wrapper">
                            <div class="layers">
                                <div class="layer" data-layertype="fg"></div>
                                <div class="layer" data-layertype="text"></div>
                                <div class="layer" data-layertype="fg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="finish-btn" :disabled="$store.state.isFontError">
                    <div class="vertical-align">
                        <span>
                            <i class="fa fa-check"></i>
                            <span>Finish your design</span>
                        </span>
                    </div>
                </button>
            </div>
        </div>
    
        <div class="modal fade scroll-hidden" tabindex="-1" role="dialog" id="imageGalleryModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Image Gallery</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="outline:none; color:000000;">
                            <span aria-hidden="true" class="fa fa-times"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/upload" class="needsclick dz-clickable" id="myAwesomeDropzone">
                            <div class="dz-message needsclick">
                                <button type="button" class="dz-button">Drop files here or <em>click to upload</em>
                                    <br>
                                    <small>jpg/png files with a size less than 10MB</small></button>
                            </div>
                        </form>
                        <div class="row mx-0">
                            <div class="col-md-6 p-1 mt-1">
                                <button class="btn btn-secondary width-100 alternative-dz-upload-btn"
                                    style="padding: 1em 0;"><i class="fa fa-upload"></i> Upload images
                                </button>
                            </div>
                            <div class="col-md-6 p-1 mt-1">
                                <button class="btn btn-secondary width-100 autofill-btn"
                                    style="padding: 1em 0;"><i class="fa fa-random"></i> Autofill
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="starmap-region" class="d-none">
        </div>
        <div id="cropArea" class="calc-area"></div>
        <div id="fontSizeCalculationArea" class="editor calc-area">
            <div class="form-group" style="position: absolute; max-width: none;">
                <label><span style="color: #e6a512;"> *</span></label>
                <textarea class="form-control scroll-hidden" rows="1" spellcheck="false" placeholder="" style="overflow-y: unset; transition: unset !important;"></textarea>
            </div>
        </div>
        <div class="page-loader" v-show="$store.state.pageLoader.show" style="position: fixed;">
            <div class="loader"></div>
            <span class="message">{{ $store.state.pageLoader.message }}</span>
        </div>
    </div>
</body>
</html>
