doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
        link(rel="stylesheet", href="/assets/css/core.css")
        link(rel="stylesheet", href="/assets/css/style.css")
        script(src="/assets/js/jquery-3.4.1.min.js" defer) 
        script(src="/assets/js/index.js" defer) 
    body
        .row.pt-5.pb-5
            .col-2 
            .col-7 
                input#product-path-input.form-control
            .col-1
                button#go-btn.btn Go
            .col-2 
        iframe#product-iframe(src="https://d1vyizgcxsj7up.cloudfront.net/customize/index.html?product=test&mode=debug-design")
